#Vertr_accordionMainContent {margin: 0px 0px 20px 0px; border-bottom: 2px solid #C7D4E2;}
.Vertr_accordionHeader { border-top: 2px solid #C7D4E2; cursor: pointer; padding: 20px 0px 20px 0px; margin: 0px; position: relative; }
.Vertr_accordionHeader:after { content: ""; background-image: url("../images/accordion_pfeil.png"); position: absolute; border: 0px solid black; width: 23px; height: 30px; right: 4px; top: 17px; background-size: contain; background-repeat: no-repeat; background-position: center;}
.Vertr_accordionHeader.open:after { transform: rotate(180deg); }
.Vertr_accordionHeader h2 { margin: 0px;  }
.Vertr_Header_on {}
.Vertr_Header_over {	}
.Vertr_accordionContent {	 padding: 0px 0px 0px 0px;  margin: 0px 0px 0px 0px; border: 0px solid red;}



.Header_sub_on {color: #003366; font-weight:bold;}
.Header_sub_over {	color: #003366; font-weight:bold;}
