/* Flexnav Base Styles */
.flexnav {  -webkit-transition: none;  -moz-transition: none;  -ms-transition: none;  transition: none;  -webkit-transform-style: preserve-3d;  overflow: hidden;  margin: 0 auto;  /*width: 100%; min-width: 300px;*/  max-height: 0; }
.flexnav.opacity {opacity: 0; display: none; }
.flexnav.flexnav-show {display: block;   max-height: 2000px;opacity: 1;-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-ms-transition: all .5s ease-in-out;transition: all .5s ease-in-out; }
.flexnav.one-page {position: fixed;top: 50px;right: 5%;max-width: 200px; }
.flexnav li { list-style: none;  position: relative;  overflow: hidden; border-top: 0px solid #888888; padding: 0px;   }


.flexnav li a { padding: 7px 11px 7px 11px;  font-family:'Futura BT W01 Medium',"Helvetica Neue", Helvetica, Arial, "sans-serif"; font-size:13px; text-transform: uppercase;  position: relative; display: block;  z-index: 2; overflow: hidden; color: #fff; }
.flexnav li a:hover { }
.flexnav li ul li a {padding-left: 15px; color: #666; border-bottom: 0px; border-top: 0px; }

.flexnav li.nav1_act>a {  color: #F8CB20; }

.flexnav li ul.flexnav-show li {  overflow: visible; }

.flexnav .touch-button { background: none; top: 15px; right: 15px; position: absolute; z-index: 999; width: 30px; height: 30px; display: inline-block; text-align: center; border: 0px solid red; }
.flexnav .touch-button:hover { cursor: pointer; }
.flexnav .touch-button .navicon { }
/*.menu-button { border-bottom: 17px double #a1c513; border-top: 6px solid #a1c513; content:""; height: 5px; width:30px; margin-bottom: 10px; }*/
.menu-button-Container {margin: auto; height: 1px;}
.menu-button { position: absolute; top: -50px; right: 10px;  width: 48px; height: 26px; background-image: url(../../../../../images/burger.png); background-size: 48px 26px; background-repeat: no-repeat;  }

.menu-button.active, .touch-button.active {  background-image: url(../../../../../images/burger_act.png);  width: 48px; height: 26px;  background-size: 48px 26px; }

.flexnav .nav_pfeil { display: none;  }


.menu-button.one-page { position: fixed; top: 0; right: 5%; padding-right: 45px; }
.menu-button .touch-button { background: transparent; position: absolute; z-index: 999; top: 0; right: 0;width: 48px; height: 26px; display: inline-block; text-align: center; }
.menu-button .touch-button .navicon { display: none; }
.touch-button { display: none;  }

.flexnav li.item-with-ul  {/*border-bottom: 0px solid #fff;*/}

/* active Level 1 */
.flexnav li.nav1_act>a {  color: #fff; }


/* level 2 */
.flexnav li ul {  z-index:10; background: #fff;  padding: 10px 0px 10px 0px; border: 1px solid #ccc; }
.flexnav li ul li { font-size: 100%; position: relative;  overflow: hidden; padding: 0px; border-bottom: 1px solid #DDDDDD; height: 100%   }
.flexnav li ul li a { background: #fff; border-bottom: 0px; border-top: 0px; line-height: 1.2em; border: 0px solid green;  }
.flexnav li ul .nav1_act { background-color: #fff; }

/* level 3 */
.flexnav li ul li ul{  background: #fff;  padding: 10px 0px 10px 0px; left: 100px;  }
.flexnav li ul li ul li { }
.flexnav li ul li ul li a { background: #fff;    }

/* level 4 */
.flexnav li ul li ul li ul{  background: #fff; padding: 10px 0px 10px 0px;  }




	

@media only screen
and (max-width : 990px) {
/* TABLET */
#nav { border-left: 1px solid #E2E7EB; border-right: 1px solid #E2E7EB; border-bottom: 1px solid #E2E7EB;   }
.flexnav { background: white; padding-top: 0px; padding-bottom: 0px; border-top: 1px solid #E2E7EB; }

.flexnav ul, .flexnav li { margin: auto;  }
.flexnav li ul { border: 0px solid #ccc; }
.flexnav li { padding-left: 10px;  height: 100%; }

.flexnav li { border-bottom: 1px solid #DDD;  }
.flexnav ul li { margin-left: 0px;  }
.flexnav li:nth-child(3) { border-top: 1px solid #DDD;  margin-top: 10px; }

.flexnav li ul li { border-bottom: 0px solid #DDD; padding: 0px;  }
.flexnav li ul li a {  font-size: 14px; padding: 10px 0px 10px 15px; }
.flexnav li ul li .touch-button {  top: 0px; } 
.flexnav li ul li:nth-child(3) { border-top: 0px solid #DDD;  margin-top: 0px; }


.flexnav li ul li ul li a { padding-left: 30px; }
.flexnav li ul li ul li ul li a { padding-left: 40px; }

.flexnav li a {  color: #444; font-size:16px; padding: 20px 0px 20px 0px  }


.flexnav li ul li:last-child { border: 0px solid green; padding-bottom: 20px; background: #fff; }
/* .navicon {background-image:url(../../../../../images/linkpfeil_down.png); width: 18px; height: 11px; border: 0px solid black; background-size: cover;  }
.active > .navicon {background-image:url(../../../../../images/nav_active.png); width: 16px; height: 10px;   } */
.navicon {background-image:url(../../../../../images/plus.png); width: 30px; height: 30px; border: 0px solid black; background-size: cover;  }
.active > .navicon {background-image:url(../../../../../images/minus.png); width: 30px; height: 30px;   }

/* active */
.flexnav li.nav1_act>a {  color: #00689e; }
.nav1_act { background-color: transparent!important; }

li.flexnav_mobile_units { display: block; border-right: none; border-left: none; margin: 10px 0px 0px 0px; }

li.grafik a{ background-color: none; color: #fff; padding-top: 10px; padding-bottom: 10px;}
li.grafik  { background-color: #00689e; }

li.laser a{ background-color: none; color: #fff; padding-top: 10px; padding-bottom: 10px; }
li.laser  { background-color: #359999;  }

li.flexnav_mobile_units.laser {  }


}



@media only screen
and (max-width : 700px) {
/* PHONE */
.Grund_Cont { box-shadow: none; }
}





@media all and (min-width: 991px)  { /*DESKTOP STYLES */

body.one-page { padding-top: 70px;  }
.flexnav { overflow: visible; font-family: "NettoOTBold",Arial, Verdana, sans-serif; }
.flexnav_cube { display: block; margin-top: 17px;  }
.flexnav ul { font-size: 18px;  }
.nav_pfeil {  width: 300px; height: 30px; border: 1px solid black; position: absolute; top: -20px; left: 0px;  background-image:url(../../../../../images/nav_pfeil.png); background-repeat: no-repeat; background-position: top 10px left 25px; }

/* active Level 2 */
.flexnav li ul .nav1_act>a { color: #00689e; }


.flexnav.one-page { top: 0;right: auto;max-width: 1080px; }
.flexnav li {float: left;display: block; overflow: visible; border-top: 0px solid #888888; height: 35px;  }
.flexnav li a { background: none;  }


.flexnav li ul {  background: #fff; margin-top: 0px; border-top: 0px; }
.flexnav li ul li a { background: #fff; padding-left: 0px;  }

.flexnav ul li {  padding: 0px 0px 10px 0px; border-bottom: 1px solid #DDDDDD; margin-left: 20px; margin-right: 20px;   }
.flexnav ul li:last-child {   border-bottom: 0px solid black;    }


.flexnav li > ul {  position: absolute; top: auto; left: 0; }
.flexnav li > ul li { min-width: 160px; width: calc(100% - 40px); }
.flexnav li ul li > ul { top: 5px; border: 1px solid #ccc;  }
.flexnav li ul.open { display: block; opacity: 1; visibility: visible; z-index: 1; }
.flexnav li ul.open li { overflow: visible;   max-height: 100px; }
.flexnav li ul.open ul.open { margin-left: 100%; top: 0; }


.flexnav.opacity { opacity: 1; display:block; }
.flexnav ul  { display:none; }

.menu-button { display: none; } 
.navicon { display: none; }
.flexnav .touch-button { background: none; display: none; }

.flexnav .flexnav_mobile_units { display: none; }

}

	
	
	
	
