@import "style_templates.css";
/*##################################################################################################*/
/*##############################  GRUND  ###########################################################*/
/*##################################################################################################*/
body { font-family: Arial, Verdana, sans-serif; font-size: 16px; background-color: #fff; color: #666; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; line-height: 24px; border: 0px solid green;  }
HTML>body {padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;}
form  {display: inline; } 
img {border: 0px;padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;vertical-align:bottom;font-size:0px;	-height:0px;}
select {font-family: Arial, Verdana, sans-serif;font-size: 1.0em;line-height:120%;color: #333333;}
input {	font-family: Arial, Verdana, sans-serif;font-size: 1.0em;line-height:120%;color: #333333;}
textarea {font-family:  Arial, Verdana, sans-serif;font-size: 1.0em;line-height:120%;color: #333333;}
ul {padding: 0px 0px 0px 0px;margin: 0px 0px 20px 0px;background-color: transparent;list-style-type: disc;text-decoration: none; }
li {line-height: 1.4em; padding: 0px 0px 2px 0px; margin: 0px 0px 0px 0px;}
::selection {background: #00689e; color: #fff;}
::-moz-selection {background: #00689e; color: #fff;}
/*## focusborder in Chrome entfernen ####*/
*:focus { outline:none; }

p {padding: 0px 0px 0px 0px;border: 0px solid red;margin: 0px 0px 1.5em 0px;}
a {color: #666666;text-decoration:none;outline: none;}
a:hover { color: #999;outline: none; text-decoration: none; }
a:active { outline: none; }
a:focus {  outline: none; }
.starth1 {font-size: 25px; font-family:'Futura BT W01 Medium',Arial, Verdana, sans-serif; color: #00689e;font-weight:normal;padding: 0px 0px 0px 0px;margin: 0px 0px 8px 0px;line-height: 37px;}
h1, .headline { font-size: 24px; color: #00689e;font-weight:normal;padding: 0px 0px 0px 0px;margin: 0px 0px 20px 0px;line-height: 37px;}
@media only screen and (max-width : 700px) {
h1, .headline { font-size: 28px;  }
}
h2, .subheadline {  font-size: 16px; font-weight:bold; padding: 0px 0px 0px 0px; margin: 0px 0px 15px 0px; line-height: 20px; border: 0px solid #333333; }	
@media only screen and (max-width : 700px) {
h2, .subheadline {  }	
}
h3, .subsubheadline { font-size: 16px;font-weight:bold;padding: 0px 0px 0px 0px;margin: 15px 0px 7px 0px;line-height: 20px;border: 0px solid #333333;	}

/* LONG WORD BREAK */
.hyphenate { overflow-wrap: break-word; word-wrap: break-word; -webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }





/*##################################################################################################*/
/*###########################  COLORCODING   ########################################################*/
/*##################################################################################################*/

.LeadCol {color: #00689e;}
.LeadColBG {background-color: #00689e;}

.LeadColUnitBlue {color: #6799cb;}
.LeadColUnitBlue:hover {color: #6799cb;}
.LeadColUnitBlueBG { background-color: #6799cb; }
.LeadColUnitGreen {color: #359999;}
.LeadColUnitGreen:hover {color: #359999;}
.LeadColUnitGreenBG { background-color: #359999; }
.LeadColUnitRed {color: #8c3057;}
.LeadColUnitRed:hover {color: #8c3057;}
.LeadColUnitRedBG {background-color: #8c3057;}


.starth1 {font-size: 25px; font-family:'Futura BT W01 Medium',Arial, Verdana, sans-serif; color: #00689e;font-weight:normal;padding: 0px 0px 0px 0px;margin: 30px 0px 8px 0px;line-height: 37px;}
/*##################################################################################################*/
/*###########################  Micro clearfix  ########################################################*/
/*##################################################################################################*/
.cf { zoom: 1; }
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }
/*##################################################################################################*/
/*###########################  GRUNDAUFBAU  ########################################################*/
/*##################################################################################################*/
.Grund_MainContainer {width: auto; border: 0px solid red; margin: auto; }
.Grund_Main_Width { width: 90%; max-width:980px;  padding: 0px 0px 0px 0px; border: 0px solid green; margin: auto; }

.Grund_Header_Container { border: 0px solid lime; position: relative;  background-color: #fff; box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5); }
.Grund_Cont_BG { background-image: url(../images/var_images/main_bg.jpg); background-repeat: repeat-y; background-position:center; }
.Grund_Cont { margin-top: 45px; margin-bottom: 45px; border-radius: 6px; background-color: #fff; box-shadow: 3px 3px 8px -3px rgba(0, 0, 0, 0.5); }
.Grund_Cont_Padding { padding: 25px; }

.Grund_Footer_Container { box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.2); outline:0px solid orange;  height: 150px; }

.Grund_headerbild_container {position: relative; margin: 0px 0px 26px 0px; }
.Grund_headerbild_container img { width: 100%; }
@media only screen and (max-width : 850px) {
.Grund_Cont { margin-top: 30px; }
.Grund_headerbild_container {  border: 1px solid #DFDFDF;  margin: 5px 0px 26px 0px; }
}


.Grund_content_unten { margin: auto; margin-top: 3px; }
.Grund_content_unten_UnitHome { margin: 3px 0px 0px 0px; }

.Grund_content_links {padding: 0px; border: 0px solid orange; float: left;  width: 70%; background-image: url(../images/var_images/bg_stripe.gif); background-repeat: repeat-y; background-position: right 0px; }/*width: 647px; 680-40 = 640*/
.Grund_content_rechts {border: 0px solid orange; padding: 0px; float: left;  width: 25%; margin-left: 5%; }/*width: 211px; 250-25=225*/

@media only screen and (max-width : 990px) {
.Grund_content_links { width: 68%; padding: 0px; padding-right: 2%;  }
.Grund_content_rechts { width: 27%; margin-left: 3%; padding: 0px;  }
}

@media only screen and (max-width : 700px) {
.Grund_content_links  { width: 100%; background-image: none; }
.Grund_content_rechts {  width: 100%; margin-left: 0%; }
}

@media only screen and (max-width : 700px) {
.Grund_Main_Width { width: 98%; }
.Grund_Cont_Padding { padding: 10px; }
}
.Grund_content_fullwide {padding: 0px; border: 0px solid orange;width: 100%;  }/*width: 647px; 680-40 = 640*/
.Grund_content_links {padding: 0px; border: 0px solid orange; float: left;  width: 67%; padding-right: 3%; background-image: url(../images/var_images/bg_stripe.gif); background-repeat: repeat-y; background-position: right 0px; }/*width: 647px; 680-40 = 640*/
.Grund_content_rechts { padding: 0px; float: left; width: 25%; margin-left: 4%; }/*width: 211px; 250-25=225*/





@media only screen and (max-width : 990px) {
.Grund_content_links { width: 68%; padding: 0px; padding-right: 2%;  }
.Grund_content_rechts { width: 27%; margin-left: 3%; padding: 0px;  }
}

@media only screen and (max-width : 700px) {
.Grund_content_links  { width: 100%; background-image: none; }
.Grund_content_rechts {  width: 100%; margin-left: 0%; }
}


/*##################################################################################################*/
/*###########################  HEADER   #######################################################*/
/*##################################################################################################*/
.Grund_Header_Home { height: 100px; padding-top: 25px; position: relative;  }
.Grund_Header { height: 90px; padding-top: 25px; position: relative; }
.Logo_Cont { width: 230px; display: block; margin: auto;  }

.Sprachauswahl_Cont { position: absolute; right: 0px; top: 20px;  }
.Sprachauswahl_Cont a{ margin-left: 5px; opacity: 0.3;  }
.Sprachauswahl_Cont a.act{ opacity: 1; cursor: default; pointer-events: none;}



.Logo_Subline { text-align: center; }
#Schnellzugriff { position: absolute; left: 0px; top: 20px; }

@media only screen and (max-width : 990px) {
#Schnellzugriff { display: none; }
.Grund_Header { height: 115px; }
}

/*##################################################################################################*/
/*###########################  NAVIGATION 1   #######################################################*/
/*##################################################################################################*/
.nav1_cont { position: relative; }
.nav1_maincont { height: 36px; z-index: 10; overflow: visible; position: relative; background-image: url(../images/var_images/navi1_bg.gif); background-repeat: repeat-x; background-position: 0px 0px; box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5); }
@media only screen and (max-width : 990px) {
.nav1_maincont { height: 0px; }
}

/*##################################################################################################*/
/*###########################  FOOTER   #######################################################*/
/*##################################################################################################*/
.Grund_Footer_Content { position: relative; color: #00689e; font-size: 12px; line-height: 16px; }
.Grund_Footer_Content a { color: #00689e;  }

.Grund_footer_links a { color: #00689e; font-weight: normal; text-decoration: underline; }
.Grund_footer_links {  position: absolute; top: 30px; left: 0px; }
.Grund_footer_rechts {  position: absolute;top: 60px; right: 0px; }

.addthis { width: 120px; position: absolute; right: 150px; top: 60px; }
.f_block1 { float: left; }
.f_block1 img { width: 100%; }
.f_block2 { float: left; padding-top: 0px; margin-left: 18px; }
.f_block3 { float: left; padding-top: 0px; margin-left: 30px; }
.f_block2 b{ font-weight: bold; font-size: 13px; }

@media only screen and (max-width : 700px) {
.Grund_Footer_Container {  height: 200px; }
.Grund_footer_links {  left: 10px; }
.addthis {  display: none; } /* float: none; margin-left: 3px; zoom: 3; padding-top: 10px; */
.f_block1 { width: 30px; }
.f_block2 { margin-left: 10px; }
.f_block3 { margin-left: 15px; }
.Grund_footer_rechts { top: 100px; left: 10px; }
}


.CB_text_50_50_Container {margin: 0px 0px 20px 0px;}
.CB_text_50_50_l {float: left; width: 48%; padding-right: 4%;}
.CB_text_50_50_r {float: left; width: 48%;}
@media only screen and (max-width : 990px) { 
	.CB_text_50_50_l {float: left; width: 100%; padding-right: 0%; margin-bottom: 20px;}
	.CB_text_50_50_r {float: left; width: 100%;}
}


.CB_bild_mit_Box_Cont { margin: 30px -25px 30px -25px; }
.CB_bild_mit_Text_Box { min-height: 250px;  }
.CB_bild_mit_Text_Box .box { padding: 25px 40px 25px 25px; background-color: #fff; display: inline-block; margin: 40px 40px 40px 40px; min-width: 200px; max-width: 650px; word-break: break-all;  }
.box li {list-style: none; background: url(../images/bullet_green.png) no-repeat 0px 0px; padding: 0px 0px 0px 35px; margin: 0px 0px 10px 0px;	line-height: 1.4em; }

.Button_Cont { display: inline-block; margin-right: 15px; margin-bottom: 20px; }
.Button_Cont_Button { padding: 10px 30px 10px 30px; background-color: #359999; color: #fff; cursor: pointer;  }

.bg_color { margin-left: -25px; margin-right: -25px; padding: 20px 25px 20px 25px; background-color: #E9E7E8; margin-top: 20px;  margin-bottom: 40px; }
.cb_bild_mit_Text { padding-top: 50px; padding-bottom: 60px; }
.cb_bild_mit_Text .telefonnummer { font-size: 35px; padding: 20px; padding-left: 60px; background-color: #fff; color: #359999; display: inline-block; margin-top: 30px; }


@media only screen and (max-width: 700px) {
	.CB_bild_mit_Box_Cont { margin: 30px -10px 30px -10px; }
	.CB_bild_mit_Text_Box .box { margin: 0px; }
	.Button_Cont_Button { padding: 10px 10px 10px 10px; }
.Button_Cont {  margin-right: 0px; }
.cb_bild_mit_Text .telefonnummer { font-size: 20px; }
.bg_color { margin-left: 0px; margin-right: 0px;  }

}


/*#################################################################
######################## ZOOMPIC ##################################
*################################################################*/
.abs_0_0_0_0{ position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
.coverImage-sizer { position: relative; display: block; width: 100%; overflow: hidden;}
.coverImage-sizer:before { display: block;  content: "";  width: 100%;}
.coverImage-sizer-16-9 { max-height: 615px; }
.coverImage-sizer-16-9:before
{  
	padding-top: 56.25%;
}

.coverImage-sizer-inner img {

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;

}
.cb_bilderpool { position: relative;	margin: 20px 0px 40px 0px;
	
}

.cb_textpool { margin: 20px 0px 40px 0px; }




.yt_fallback { color: #333; box-sizing: border-box; background-color: #D9D9D9; width: 100%; min-height: 200px; padding: 10px 20px 20px 20px; }
.yt_fallback a { color: #333; text-decoration: underline; }


/*#################################################################
############### CUSTOM FORMS FOR  BOOTSTRAP ######################
*################################################################*/
.custom-select {
  border-radius: 0px;
  font-size: 1rem;
  padding: 0.2rem 0.75rem; }

.form-control, .custom-select {
  border: 1px solid #DBDBDB;
  background: rgba(0, 0, 0, 0.02); }

.form-control:focus, .custom-select:focus {
  border: 1px solid #DBDBDB;
  box-shadow: none;
  background: #fff; }

.custom-control {
  cursor: pointer; }

.custom-control a:hover {
  color: #333; }

.custom-checkbox .custom-control-indicator {
  width: 25px;
  height: 25px;
  background: none;
  border: 2px solid #e0e0da;
  border-radius: 0px;
  display: block;
  position: absolute;
  left: 0px;
  top: 3px; }

.custom-control-input:checked ~ .custom-control-indicator:after {
  /*background-image: 'images/logo.png';*/
  width: 20px;
  height: 20px;
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  content: "\f00c";
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  transform: rotate(-3deg);
  position: absolute;
  top: -2px;
  left: 1px;
  color: #CE2D40; }

.custom-control-input:focus ~ .custom-control-indicator {
  box-shadow: none; }

.custom-control-input:active ~ .custom-control-indicator {
  background: none; }

.custom-checkbox .custom-control-description {
  padding-left: 10px;
  padding-top: 3px;
  display: block; }

.form-control.error, .custom-select.error {
  border: 2px solid #bd1414; }

.custom-control-input.error ~ .custom-control-indicator {
  border: 2px solid #bd1414; }

.custom-checkbox + label.error {
  display: block; }


.form_disabled { opacity: 0.7; cursor: default; }

/*#################################################################
############### CUSTOM  BOOTSTRAP ################################
*################################################################*/

.btn-primary, .btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    padding: 3px 10px;
	font-size: 12px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #5a6268;
	box-shadow: none;
	text-decoration: none;
}


*, ::after, ::before {
    box-sizing: content-box;
}

.btn-minify { background-color: #fff!important; border-color: #fff!important; color: #333; text-decoration: underline; }
.btn-minify:hover, .btn-minify:focus, .btn-minify:active, .btn-minify:not(:disabled):not(.disabled):active:focus { text-decoration: underline; border: 1px solid #fff; box-shadow: none; color: #333;  }

.cookie_txt .btn-minify { padding: 0px; vertical-align: unset; color: #00689e; text-decoration: none; font-weight: bold; }

.btn-feelgood { background-color:olivedrab!important; border-color: olivedrab!important; }

/*#################################################################
############################ COOKIE ##############################
*################################################################*/
.cookiewarning { color: #333; background-color: #fff; text-align: center;  display: none; font-size: 0.75rem; line-height: 1.5;   z-index: 10; box-sizing: border-box; }

.cookiewarning_bottom { padding: 20px 30px 20px 30px; position: fixed; bottom: 0; width: 100%; border-top: 1px solid #ccc; }

.cookiewarning_central { padding: 40px 40px 30px 40px; position: fixed; border: 1px solid #ccc; width: 95%; max-width: 500px; left: 50%; right: auto; bottom: auto; top: 50%;  webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
}

.cookiewarning_central .btn-feelgood { width: 100%; padding-left: 0px; margin-bottom: 15px; }
.cookiewarning_central .cookiespacer { display: none; }

@media only screen and (max-width : 850px) { .cookiewarning a { /* display: block; margin-bottom: 15px; */ }  }

.cookiewarning a:hover {  }
.cookiewarninglinks { margin-top: 15px; font-weight: bold; }
.cookiespacer { margin-right: 20px; margin-left: 20px; }
	
@media only screen and (max-width : 850px) { .cookiespacer { display: none; }  }


#cookie_manager { cursor: pointer; }
.cookie-manager-container { text-align: -webkit-auto; display: none; margin-top: 10px; background-color: #E9E9E9; padding: 25px; position: relative; }
.cookie_close { text-align: center; width: 18px; height: 18px; font-weight: bold; position: absolute; right: 10px; top: 10px; border-radius:20px; cursor: pointer; }
.cookie-manager-element { margin-bottom: 20px; }
.cookie-manager-container a { text-align: center;display: block; padding: 5px; background-color: azure; margin-bottom: 15px;  }
.cookie-manager-container h2 { text-align: center; }
#cookies-erforderlich-content { display: none; }
#cookies-analytisch-content { display: none; }
#cookies-erforderlich { cursor: pointer;}
#cookies-analytisch { cursor: pointer;}
.cookies-content { max-width: 1200px; text-align: left; }
.cookies-checkbox { margin-top: 15px; }
.cookies-speichern  a { display: inline-block; text-align: right; background-color: #999; color: #fff; cursor: pointer; }
.cookie-manager-element.cookies-speichern { text-align: right; }


#Cookies_Manager_form_modal *, ::after, ::before {   box-sizing: border-box; } 

.cookiewarningSettingsBut { position: fixed; font-size: 24px; bottom: 20px; left: 20px; width: 35px; height: 35px; background-color: #E8E8E8; color: #ccc; z-index: 1002; display: none; /* -webkit-box-shadow: -1px 0px 18px rgba(0, 0, 0, 0.22);	 box-shadow: -1px 0px 18px rgba(0, 0, 0, 0.22); */ border: 1px solid #ccc; }
.fa-fingerprint:before { top: 6px; position: absolute; left: 5px; }
.showCookieSettings { display: block;  }

.cookie_txt a { color: #00689e; text-decoration: none; font-weight: bold; }


/*#################################################################
############### FontAwesome    ################################
*################################################################*/

/* FontAwesome */
/*!
 * Font Awesome Free 5.5.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -.0667em; }

.fa-xs {
  font-size: .75em; }

.fa-sm {
  font-size: .875em; }

.fa-1x {
  font-size: 1em; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-6x {
  font-size: 6em; }

.fa-7x {
  font-size: 7em; }

.fa-8x {
  font-size: 8em; }

.fa-9x {
  font-size: 9em; }

.fa-10x {
  font-size: 10em; }

.fa-fw {
  text-align: center;
  width: 1.25em; }

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit; }

.fa-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: .3em; }

.fa-spin {
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  animation: fa-spin 1s infinite steps(8); }

@keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  transform: scale(1, -1); }

.fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  transform: scale(-1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em; }

.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */
.fa-check:before {
  content: "\f00c"; }

.fa-fingerprint:before {
  content: "\f577"; }


.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*!
 * Font Awesome Free 5.5.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("../modules/FontAwesome/webfonts/fa-solid-900.eot");
  src: url("../modules/FontAwesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../modules/FontAwesome/webfonts/fa-solid-900.woff2") format("woff2"), url("../modules/FontAwesome/webfonts/fa-solid-900.woff") format("woff"), url("../modules/FontAwesome/webfonts/fa-solid-900.ttf") format("truetype"), url("../modules/FontAwesome/webfonts/fa-solid-900.svg#fontawesome") format("svg"); }
.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

/*!
 * Font Awesome Free 5.5.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("../modules/FontAwesome/webfonts/fa-brands-400.eot");
  src: url("../modules/FontAwesome/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../modules/FontAwesome/webfonts/fa-brands-400.woff2") format("woff2"), url("../modules/FontAwesome/webfonts/fa-brands-400.woff") format("woff"), url("../modules/FontAwesome/webfonts/fa-brands-400.ttf") format("truetype"), url("../modules/FontAwesome/webfonts/fa-brands-400.svg#fontawesome") format("svg"); }
.fab {
  font-family: 'Font Awesome 5 Brands'; }


